<a href="/board/articles/add">New Article</a>

<br><br>

<% if articles %>
  <% articles.each do |a| %>
    <a href="/board/article/<%= a['slug'] %>"><%= a['title'] %></a><br>
  <% end %>
<% else %>
  <h2>no articles</h2>
<% end %>

<% if pagination %>
  <h4 pagination>pagination</h4>
  <ul pagination>
  <% pagination.each do |i| %>
    <% active = (i == page) ? 'active' : '' %>
    <li <%= active %>><a href="?page=<%= i %>"><%= i %></a></li>
  <% end %>
  </ul>
<% end %>
