<nav small>
  <li float-right><a href="/board/articles/add">New Article</a></li>
</nav>

<br><br>

<% if articles %>
<table articles>
  <tr>
    <th>title</th>
    <th>created at</th>
    <th>author</th>
    <th>actions</th>
  </tr>
  <% articles.each do |a| %>
  <tr>
    <td article-title onclick="window.location.href = '/board/article/<%= a['slug'] %>'"><%= a['title'] %></td>
    <td><%= Time.at(a['created_date'].to_i).strftime('%H:%M %m/%d/%y') %></td>
    <td><%= a['fullname'] %></td>
    <td>
      <a href="/board/article/<%= a['slug'] %>/edit">Edit</a>
      <% if a['is_draft'] == 't' %>
      <a href="/board/article/<%= a['slug'] %>/make_publish">Publish</a>
      <% else %>
      <a href="/board/article/<%= a['slug'] %>/make_draft">Draft</a>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
<% else %>
  <h2>no articles</h2>
<% end %>

<% if pagination %>
  <h4 pagination>pagination</h4>
  <ul pagination>
  <% pagination.each do |i| %>
    <% active = (i == page) ? 'active' : '' %>
    <li <%= active %>><a href="?page=<%= i %>"><%= i %></a></li>
  <% end %>
  </ul>
<% end %>
