<% if page == 0 %>
<cover index>
  <div>
    <h2>welcome to <%= config['name'] %></h2>
    <p><%= config['abstract']['long'] %></p>
  </div>
</cover>
<% end %>

<% if articles %>
<articles-list>
  <% articles.each do |a| %>
  <article-overview onclick="window.location.href = '/article/<%= a['slug'] %>'">
    <h4>
      <%= a['title'] %>
      <information>
        by <author><%= a['fullname'] %></author>
        on <timestamp><%= Time.at(a['created_date'].to_i).strftime('%m/%d/%y') %></timestamp>
      </information>
    </h4>
    <abstract><%= a['abstract'] %></abstract>
  </article-overview>
  <hr>
  <% end %>
</articles-list>
<% else %>
  <h2>no articles</h2>
<% end %>

<% if pagination %>
  <h4 pagination>pagination</h4>
  <ul pagination>
  <% pagination.each do |i| %>
    <% active = (i == page) ? 'active' : '' %>
    <li <%= active %>><a href="?page=<%= i %>"><%= i %></a></li>
  <% end %>
  </ul>
<% end %>
