<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= config['name'] %> - <%= config['abstract']['short'] %></title>

    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>
    <header>
      <brand><%= config['name'] %></brand>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>
        &copy; Copyright <%= Time.now.year %> - <a href="<%= config['copyright']['url'] %>" target="_blank"><%= config['copyright']['label'] %></a>
      </p>
    </footer>
  </body>

  <script src="/assets/script.js" charset="utf-8"></script>
</html>
