<a href="<%= back %>">Back</a>

<br><br>

<article>
  <h2><%= article['title'] %></h2>
  <information>
    <author>
      by <%= article['fullname'] %>
    </author>
  </information>
  <abstract><%= article['abstract'] %></abstract>
  <hr>
  <content><%= article['content'] %></content>
</article>
