<a href="<%= back_url %>">Back</a>

<br><br>

<article>
  <h4>
    <%= article['title'] %>
    <information>
      by <author><%= article['fullname'] %></author>
      on <timestamp><%= Time.at(article['created_date'].to_i).strftime('%m/%d/%y') %></timestamp>
      is <%= (article['is_draft'] == 'f') ? 'published' : 'drafted' %>
    </information>
  </h4>
  <abstract><%= article['abstract'] %></abstract>
  <hr>
  <content><%= article['content'] %></content>
</article>
