<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= config['name'] %> - board</title>

    <link rel="stylesheet" href="/assets/style.min.css">
    <link rel="stylesheet" href="/assets/style.board.min.css">
  </head>
  <body>
    <header>
      <brand><%= config['name'] %> - board</brand>
      <% if @auth %>
      <ul nav>
        <li><a href="/board">overview</a></li>
        <li><a href="/board/articles">articles</a></li>
      </ul>
      <% end %>
      <% if @flash %>
        <flash <%= @flash[:type] %>>
          <p><%= @flash[:message] %></p>
        </flash>
      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
